{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR:300&display=swap" rel="stylesheet">
</head>
<header id="header_section">
    <nav class="header_nav">
        <div class="nav_wrapper">
            <a href="" class="logo">Laundry</a>
            <ul class="menu">                    
                <li class="menu1">
                    <a href="">빨래하기</a>    
                </li>
                <li class="menu2">
                    <a href="">알아보기</a>
                </li>                
                <li class="menu3">
                    <a href="">그림</a>
                </li>
            </ul>
        </div>
    </nav>

</header>
<body id="main">
    <div class="cover_container">
        <div class="text_container">
            <h1 class="intro_big">
                뽀송뽀송한 빨래,<br>
                편리하고 쉽게
            </h1>
            <h3 class="intro_small">
                원래 이용하던 세탁소에서<br>
                깨끗하고 저렴하게 배송까지
            </h3>
            <a href="" class="btn1">
                <span>
                    깨끗하게
                    <strong>빨래하기</strong>
                </span>
                <span class="arrow-right"></span>
            </a>
            <a href="" class="btn2">
                <span>
                    우리동네
                    <strong>빨래지역</strong>
                </span>
                <span class="arrow-right"></span>
            </a>
        </div>
    </div>
</body>
</html>
